@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3873B2;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3873B2;
  cursor: pointer;
  border: none;
}
